html {
    background-image: url("MoneroGradient.jpg");
    background-color: #cccccc;
	background-size: cover;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

header, div, nav, section, footer {
    display: block;
}

#header-container {
  width: 99%;
  position: relative;
  margin: auto;
  overflow: hidden;
  text-align: center;
  background-color: #cbced3;
} 

#header-container1 {
  width: 95%;
  position: relative;
  margin: auto;
  overflow: hidden;
  text-align: center;
  background-color: #cbced3;
} 

.container {
  width: 50%;
  margin: auto;
  position: relative;
  overflow: hidden;
  background-color: #e0e2e5;
  text-align: center;
  font-family: 'BenchNine', Open Sans, sans-serif;
  border: 3px groove #edeeef;
}

body { 
  line-height: 1.5;
}

h1 {
  margin-left: auto;
  font-family: 'BenchNine', Open Sans, sans-serif;
  font-size: 48px;
  overflow: hidden;
}

h2 {
  width: 50%;
  margin: auto;
  margin-left: auto;
  font-family: 'BenchNine', Open Sans, sans-serif;
  font-size: 24px;
}